.footer__link-zone {
  padding: 0;
  margin: 0;
  max-width: 1184px;
  list-style: none;
  display: flex;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .footer__link-zone {
    max-width: 928px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .footer__link-zone {
    max-width: 720px;
  }
}

@media screen and (max-width: 767px) {
  .footer__link-zone {
    flex-direction: column;
  }
}
