.intro__text {
  max-width: 690px;
  padding: 0;
  margin: 40px 0 33px;
  font-size: 16px;
  line-height: 163%;
  font-weight: normal;
  font-style: normal;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .intro__text {
    max-width: 720px;
  }
}

@media screen and (max-width: 767px) {
  .intro__text {
    min-width: 288px;
  }
}
