.cover__title {
  max-width: 560px;
  padding: 0;
  margin: 0 auto 32px;
  font-size: 72px;
  line-height: 76px;
  font-weight: 900;
  font-style: normal;
}

@media screen and (max-width: 767px) {
  .cover__title {
    margin: 0 auto 16px;
    min-width: 288px;
    font-size: 32px;
    line-height: 35px;
  }
}
