.footer {
  padding: 92px 48px 24px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  color: white;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .footer {
    padding: 88px 24px 24px;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    padding: 64px 118px 24px 16px;
    flex-direction: column;
  }
}
